*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
    height: 1024px;
    width: auto;
    background-color:#E5E5E5;
}
/* Header */

.descuentos{
height:38px;
top:0;
background-color:rgba(28, 209, 176, 1);
/* font-family: 'Roboto', sans-serif; */
align-items: center;
}
.descuentos h3{
position: absolute;
top:10px;
left:15px;
}
.titulo{
    height: 101px;
    position: relative;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
h1{
    font-family:'Roboto', sans-serif;
    font-weight: 100;
    position: absolute;
    top:33px;
    left:28px;
    /* font-size: 40px; */
}

/* Main */
main{
    position: absolute;
    width: 960px;
    height: 530px;
    left: 151px;
    top: 292px;
    background-color: salmon;
}
.card{
    /* position: relative; */
    width: 300px;
    height: 529px;
    background-color:#F3F3F3;
    /* border:2px black double; */
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dos {
    position: absolute;
    left:362px;
    top:0;
}
.tres{
    position: absolute;
    left:692px;
    top:0;
}
.card .dos, .tres{
    margin-left: 20px;
}

/* Cards style*/
img{
    position: relative;
}
.avatar{
    position: relative;
    width: 120px;
    height:120px;
    border-radius: 50%;
    left: 30%;
    top: -14%;
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.15);
} 

.avatar:hover{
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.35);
}
/* Texts */

h2{
    position: absolute;
    left:48px;
    top:50%;    
}
.btman{
    left:93px;
}
p{
    position:absolute;
    top:290px;
    width: 267px;
    height: 100px;
    padding:34px 0px 0px 13px;
    font-size: 14px;
    line-height: 19px;
    
}
/* Button */

button{
    background-color: #00669F;
    width: 128px;
    height: 49px;
    position: relative;
    top: 130px;
    left: 30%;
    border:none;
    color:whitesmoke;
    box-shadow: 1px 1px 1px;
}
button:hover{
    border-radius: 5px;
    background-color:rgba(28, 209, 176, 1);
    color:#00669F;
    text-shadow: 0px 2px 2px gainsboro;
    font-size: 15px;
}
/* Footer */